.new-quest-container {
  width: 100%;
  max-width: 1120px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-quest-container .content {
  width: 100%;
  padding: 96px;
  background: #202124;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-quest-container .content section {
  width: 100%;
  max-width: 380px;
}

.new-quest-container .content section h1 {
  margin: 64px 0 32px;
  font-size: 32px;
  color: #00D294;
}

.new-quest-container .content section p {
  font-size: 18px;
  color:#757575;
  line-height: 32px;
}

.new-quest-container .content form {
  width: 100%;
  max-width: 450px;
}

.new-quest-container .content form input,
.new-quest-container .content form textarea {
  margin-top: 8px;
  background-color: #292A2D;
  border: 1px solid #292A2D;
  color: #FFF;
}

.new-quest-container .content form .input-group {
  display: flex;
}

.new-quest-container .content form .input-group input + input {
  margin-left: 8px;
} 
